*,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* align-items: center;
  width: 100%;
  /* height: 100vh; */
  position: relative;
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1200px;
  height: 100%;
  /* height: 100%; */
  /* min-height: 100%; */
  margin: 0 auto;
  /* padding-top: 100px; */
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.form {
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.input-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#upload {
  display: block;
}

#compare {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
}

#fn {
  border: 2px solid #000000;
  margin-bottom: 20px;
}

footer {
  position: relative;
}

.btn {
  display: block;
  position: relative;
  width: 150px;
  height: 38px;
  /* margin-right: 10px; */
}

.btn-upload {
  position: relative;
  display: flex;
  align-items: center;
  /* width: 200px; */
}


.spinner-upload {
  display: none;
}

.label {
  animation: show 2s;
}

.table {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  overflow: auto;
  animation: show 2s;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
